*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}



body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),
url("../images/car.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
}




.container{


width:1100px;

height:600px;

display:flex;

border-radius:25px;

overflow:hidden;

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

box-shadow:0 20px 50px black;


}



/* LEFT SIDE */


.left{


width:55%;

color:white;

padding:70px;

display:flex;

flex-direction:column;

justify-content:center;


}


.left h1{

font-size:45px;

color:white;

}


.left h1 span{

color:#d4af37;

}



.left h2{

font-size:35px;

margin:20px 0;

}



.left p{

line-height:30px;

font-size:17px;

}



.features{

margin-top:30px;

}



.features p{

margin:15px 0;

}




/* RIGHT SIDE */


.right{


width:45%;

background:white;

display:flex;

justify-content:center;

align-items:center;


}



.box{


width:80%;


}



.box h2{

font-size:35px;

color:#0d1b2a;

margin-bottom:30px;


}



label{

display:block;

margin-bottom:8px;

font-weight:500;

}



input{


width:100%;

padding:15px;

margin-bottom:20px;

border-radius:10px;

border:1px solid #ddd;


}



button{


width:100%;

padding:15px;

background:#0d1b2a;

color:white;

border:none;

border-radius:10px;

font-size:17px;

cursor:pointer;


}


button:hover{


background:#d4af37;


}



.login{

text-align:center;

margin-top:25px;

}



.login a{

color:#d4af37;

text-decoration:none;

font-weight:bold;


}

.error-message{
    background: #ffe5e5;
    color: #d60000;
    border: 1px solid #ffb3b3;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}