<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Velora Drive | Home</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>

<nav>

<h2 class="logo">
Velora <span>Drive</span>
</h2>

<ul>

    <li><a href="/home" class="nav-btn">Home</a></li>
    <li><a href="/vehicles" class="nav-btn">Vehicles</a></li>
    <li><a href="/my_bookings" class="nav-btn active">My Bookings</a></li>
    <li><a href="/contact" class="nav-btn">Contact</a></li>
    <li><a href="/" class="nav-btn">Logout</a></li>

</ul>

</nav>

<section class="hero">

<h1>Welcome to Velora Drive</h1>

<p>
Rent luxury cars anytime, anywhere.
</p>

<a href="/vehicles" class="btn">
    Explore Vehicles
</a>

</section>

</body>

</html>